<div class="swiper-container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide--one">
          <!-- ESEMPIO PER OGNI SLIDE -->
          <!-- <span> targhetta opzionale a lato della diapositiva </span>--> 
           <!-- <div class="slide-content"> testo opzionale interno alla diapositiva </div> --> 
        </div>
        <div class="swiper-slide swiper-slide--two">

        </div>
        <div class="swiper-slide swiper-slide--three">

        </div>
        <div class="swiper-slide swiper-slide--four">

        </div>
        <div class="swiper-slide swiper-slide--five">

        </div>
        <div class="swiper-slide swiper-slide--six">

        </div>

      </div>

    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>