#divUnico{
  width: 100%;
}
swiper-container {
  display: block;
  width: 70%; 
  height: auto; 
  margin: auto;
  position: relative;
  margin-top: 100px;
}

/* Stile delle slide */
swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  background-color: #f4f4f4;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  width: 30%; /* La larghezza della slide è il 80% della larghezza del carosello */
  height: auto; /* L'altezza della slide è il 80% dell'altezza del carosello */
}

/* Stili per i bottoni */
button {
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Bottoni di default */
button {
  background-color: #111;
  color: #eee;
  border: 1px solid #333;
}

/* Hover sui bottoni */
button:hover {
  background-color: #333;
  color: white;
  border-color: #555;
}

/* Focus sui bottoni */
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}


.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#scritta{
  display: flex;
  align-items: center;
  color: black;
  font-size: 60px;
}

.imgc{
  display: block;
  max-width: 100%;
}