 <mat-grid-list cols="3" rowHeight="1:2"> 
    <mat-grid-tile>
      <mat-card class="card" appearance="outlined">
        <img mat-card-image class="slot1" src="img/schema1.png" alt="Image 1">
        <mat-card-content>
          <p>Prezzi smart</p>
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card" appearance="outlined">
        <img mat-card-image class="slot2" src="img/schema2.png" alt="Image 2">
        <mat-card-content>
          <p>Prenota 24/7</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

     <mat-grid-tile>
      <mat-card class="card" >
        <img mat-card-image class="slot3" src="img/schema3.png" alt="Image 3">
        <mat-card-content>
          <p>Scegli solo il meglio</p>
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
<div class="header-container">
  <h2 id="scritta">POPULAR CUTS</h2>
</div>
<div id="divUnico">
<button class = "button1"(click)="showWinterCarousel()">Tagli Estivi</button>
<button class = "button2"(click)="showSummerCarousel()">Tagli Invernali</button>

@if (isWinterCarouselVisible) {
  <div [@fadeAnimation]>
    <swiper-container space-between="30" slides-per-view="3" speed="300" loop="true" css-mode="true" autoplay="true">
      <swiper-slide class="riquadro">
        <img id="taglio1" class="imgc" src="img/taglio1.jpeg" alt="immagine non caricata" width="185%" height="100%" object-fit="cover">
      </swiper-slide>
      <swiper-slide class="riquadro">
        <img id="taglio2" class="imgc" src="img/taglio2.jpeg" alt="immagine non caricata" width="185%" height="100%" object-fit="cover">
      </swiper-slide>
      <swiper-slide class="riquadro">
        <img id="taglio3" class="imgc" src="img/taglio3.jpeg" alt="immagine non caricata" width="185%" height="100%" object-fit="cover">
      </swiper-slide>
      <swiper-slide class="riquadro">
        <img id="taglio4" class="imgc" src="img/taglio4.jpeg" alt="immagine non caricata" width="185%" height="100%" object-fit="cover">
      </swiper-slide>
      <swiper-slide class="riquadro">
        <img id="taglio5" class="imgc" src="img/taglio5.jpeg" alt="immagine non caricata" width="185%" height="100%" object-fit="cover">
      </swiper-slide>
    </swiper-container>
  </div>
} @else {
  <div [@fadeAnimation]>
    <swiper-container space-between="15" slides-per-view="3" speed="300" loop="true" css-mode="true" autoplay="true">
      <swiper-slide class="riquadro">
        <img src="img/taglioInv1.jpeg" alt="Taglio Estivo 1" width="185%" height="100%" style="object-fit: cover;">
      </swiper-slide>
      <swiper-slide class="riquadro">
        <img src="img/taglioInv2.jpeg" alt="Taglio Estivo 2" width="185%" height="100%" style="object-fit: cover;">
      </swiper-slide>
      <swiper-slide class="riquadro">
        <img src="img/taglioInv3.jpeg" alt="Taglio Estivo 3" width="185%" height="100%" style="object-fit: cover;">
      </swiper-slide>
      <swiper-slide class="riquadro">
        <img src="img/taglioInv4.jpeg" alt="Taglio Estivo 3" width="185%" height="100%" style="object-fit: cover;">
      </swiper-slide>
      <swiper-slide class="riquadro">
        <img src="img/taglioInv5.jpeg" alt="Taglio Estivo 3" width="185%" height="100%" style="object-fit: cover;">
      </swiper-slide>
    </swiper-container>
  </div>
}
</div>