<swiper-container slides-per-view="3" speed="300" loop="true" css-mode="true" autoplay="true">
    <swiper-slide>
    <img id="taglio1" src="img/taglio1.jpeg" alt="immagine non caricata" width="185%" height="100%" object-fit="cover">
    </swiper-slide>
    <swiper-slide>
      <img id="taglio2" src="img/taglio2.jpeg" alt="immagine non caricata" width="185%" height="100%" object-fit="cover">
    </swiper-slide>
    <swiper-slide>
      <img id="taglio3" src="img/taglio3.jpeg" alt="immagine non caricata" width="185%" height="100%" object-fit="cover">
    </swiper-slide>
    <swiper-slide>
      <img id="taglio4" src="img/taglio4.jpeg" alt="immagine non caricata" width="185%" height="100%" object-fit="cover">
    </swiper-slide>
    <swiper-slide>
      <img id="taglio5" src="img/taglio5.jpeg" alt="immagine non caricata" width="185%" height="100%" object-fit="cover">
    </swiper-slide>

  </swiper-container>