<div id="barberChoice">
    <form action="#">
        <label for="barbers">Barbiere</label>
        <select name="barbers" id="barbers">
        @if (barbers) {
            @for(barber of barbers; track barber.name) {
                <option value="{{barber.name}}">{{barber.name}}</option>
            }
        }
        </select>
        <input type="submit" value="Submit" />
    </form>
</div>
<div id="calendar">
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

