<div class="modal-container">
<div class = "booking-container">
@if(bookingConfirmed){
  <div>
    <mat-card> 
      <mat-card-title>Prenotazione Effettuata!</mat-card-title>
      <mat-card-content>
        <p>La tua prenotazione è stata confermata.</p>
      </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="onClose()">Chiudi</button>
      </mat-card-actions>
    </mat-card>
</div>
}
@else {
<form (ngSubmit)="onSubmit()" [formGroup]="bookingForm"> <mat-form-field>
    <mat-label>Barbiere</mat-label>
    <mat-select formControlName="barberId">
      @for (barber of barbers; track barber.id) {
      <mat-option [value]="barber.id">{{barber.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="appointment-details">
    <mat-form-field>
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="datepicker" formControlName="selectedDate"
        [matDatepickerFilter]="isDateAvailable" (click)="$event.stopPropagation()"
        (dateChange)="onDateSelected($event)">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Orario</mat-label>
      <mat-select formControlName="time" required>
        @if (timeOptions.length > 0) {
        @for (timeOption of timeOptions; track timeOption.value) {
        <mat-option [value]="timeOption.value">
          {{ timeOption.viewValue }}
        </mat-option>
        }
        } @else {
        <mat-option disabled>Nessun orario disponibile</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div>
   </div>


<!-- Sezione per visualizzare i trattamenti selezionati dinamicamente -->

<div>
  @if (selectedTreatments.length) { 
     <h3>Trattamenti selezionati:</h3>
  <ul>
    @for (treatment of selectedTreatments; track treatment.id) {
    <li> {{ treatment.name }} {{treatment.price}}€</li> 
  
    }
   
  </ul>
  <td><strong>Total:</strong></td>
                
  <td><strong>€{{ total }}</strong></td>
}
</div>
<button mat-raised-button color="primary" type="submit">Conferma Prenotazione</button>
<button mat-raised-button color="primary" (click)="onClose()">Annulla</button>
 </form>
}
</div>
</div>