.confirmation-message{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-message h2{
    font-size: medium;
    margin-top: 30%;
    text-align: center;
}

.confirmation-message p{
    margin-top: 10%;
    text-align: center;

}

.close-button {
    justify-content: center;
    align-items: center;
    height: 50px;
    background: black;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    margin-top: 5%;
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }

  .close-button:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
    background: rgb(68, 67, 67);
  }

/* Style the modal */ 
  .modal {
    position: fixed;
    width: 600px;
    height: 700px;
    background: whitesmoke;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    max-width: 600px;
    padding: 20px;
  }
  
  /* Style the form fields */
  mat-form-field {
    /* display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding-top: 20px;
    width: 90%;
    margin: auto;
    appearance: outline; */
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    border-radius: 9px;
    outline: none;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  mat-label {
    font-weight: bold;
    color: #676767;
  }
  
  .appointment-details {
    display: flex;
    justify-content: space-between;
  }
  
  /* Style the confirmation and close buttons */
  .mat-raised-button {
    margin-top: 16px;
  }
  
  .mat-raised-button.accent {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Style the list of selected treatments */
  .selected-treatments {
    margin-top: 16px;
  }
  
  .selected-treatments ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .selected-treatments li {
    margin-bottom: 8px;
  }
  
  /* Style the total price section */
  .total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-weight: bold;
  }

  .modal--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid grey;
    margin-top: 15%;
  }

  .price {
    position: relative;
    font-size: 32px;
    color: #2B2B2F;
    font-weight: 900;
  }
  
  .price sup {
    font-size: 13px;
  }

  /* Container per separazione trattamenti */
  .separator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #2d2d30;
    margin: 0 10px;
  }
  
  
  
  .separator > ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .separator > ul > li{
    list-style-type: none;
    margin-right: 50px;
  }
  
  .separator > p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    margin: auto;
  }
  
  .separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
    margin: auto;
  }

  /* Pulsante di conferma */
  .confirm-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
    background: black;
    border-radius: 11px;
    border: 0;
    margin-left: 60px;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .confirm-button:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
    background: green;
  }

  /* Pulsante di annullamento */
  .discard-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
    background: black;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .discard-button:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
    background: red;
  }
  
  /* Input fields */
  .input-field {
    text-align: center;
    margin-left: 5px;

  }
  
/*  .input-field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
  } */

  /* Select fields */
  
  .select-field {
    text-align: center;
  }
  
  /*.select-field:focus {
    width: 100px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
  } */


  h2{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 450;
  }

  