<h2 mat-dialog-title>Crea una recensione</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Valutazione</mat-label>
    <mat-select [(value)]="rating">
      @for (star of [1, 2, 3, 4, 5]; track $index) {
        <mat-option [value]="star">{{ star }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Commento</mat-label>
    <textarea matInput [(ngModel)]="comment" rows="5"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annulla</button>
  <button mat-button (click)="onSubmit()">Invia recensione</button>
</mat-dialog-actions>