<div id="container">
    <div class="card">
        <div class="card-content">
            <h2>Filtra per valutazione</h2>
            <p>Seleziona una valutazione da 1 a 5</p>
            <div class="rating-filter">
                <!-- Filtrare per valutazione -->
                @for (star of stars; track $index) {
                    <span class="star" [class.filled]="star <= selectedRating"
                     (click)="filterByRating(star)"
                     (mouseenter)="changeCursor('pointer')"
                (mouseleave)="changeCursor('default')">
                        &#9733;
                    </span>
                }
                <!-- Opzione per rimuovere il filtro -->
                <span class="star" [class.filled]="selectedRating === 0"
                 (click)="filterByRating(0)"
                 (mouseenter)="changeCursor('pointer')"
                (mouseleave)="changeCursor('default')">
                    all
                </span>
            </div>
        </div>
    </div>
    <div class="reviews">
        <div id="tabella">
            <h2></h2>
            <table style="width: 100%; border-collapse: collapse;">
                <tr>
                    <td colspan="2">
                        <!-- Classe custom per divider -->
                        <mat-list class="custom-divider">
                            @for(reviews of filteredReviews; track reviews.id) {   
                            <mat-list-item>
                                <div class="list-item">
                                    <div class="rating">
                                        @for (star of stars; track $index) {
                                            <span class="star" [class.filled]="star <= reviews.rating">&#9733;</span>
                                          }
                                      </div>
                                        
                                    <span class="treatment">{{reviews.comment}}</span>
                                    
                                    <span class="price">{{ calculateDaysDifference(reviews.date) }} giorni fa</span>
                                </div>
                            </mat-list-item>
                            <mat-divider class="custom-divider"></mat-divider>
                        }
                        </mat-list>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>