<!-- HTML della navbar -->
<div id="all">
<div class="header">
  <header id="logo">
    <div id="classLogo">
    </div>
    <mat-toolbar class="navBar">
      <img id="logonav" src="img/hairhub.png" alt="Logo">
      <span class="example-spacer"></span>
      <button id="btnLogin" mat-button [matMenuTriggerFor]="login" >
        <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></button>
      <button id="btn" mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Home</button>
  <button mat-menu-item>Servizi</button>
  <button mat-menu-item>Contatti</button>
</mat-menu> 
<mat-menu #login="matMenu">
  <button mat-menu-item>Accedi</button>
  <button mat-menu-item>Registrati</button>
</mat-menu>       
    </mat-toolbar>
  </header>
</div>

<router-outlet />
<div id="carousel">
<app-swiper-carousel></app-swiper-carousel>
</div>


<footer id="footer">
  <div id="contatti">
    <h2>Contatti</h2>
    <p>Centro Assistenza Clienti</p>
    <img src="" alt="AppStore">
    <img src="" alt="GooglePlay">
  </div>
  <div id="scopri">
    <h2>Scopri</h2>
    <p>Guida</p>
    <p>Magazine</p>
    <p>Gift Card</p>
    <p>Iscriviti alla nostra Newsletter</p>
  </div>
  <div id="Partner">
    <h2>Partner</h2>
    <p>Diventa partner</p>
    <p>Centro assistenza</p>
  </div>
  <div id="hairhub">
    <h2>HairHub</h2>
      <p>Chi siamo</p>
      <p>Lavora con noi</p>
      <p>Impostazione cookie</p>
  </div>

</footer>
</div>