

#all{
  height: auto;
  max-width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url('assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navBar {
  display: flex;            
  justify-content: space-between; 
  align-items: center;
  background: transparent;   
  padding: 20px 0;
  background-color: white;
}

#logonav {
  max-height: 200%;         
  height: auto;             
}

.example-spacer {
  flex: 1;                  
}

.example-icon {
  padding: 0;               
}

#carousel{
  padding: 10%;
  flex: 1;
  
}

#btn{
  color: white;
  font-size: 18px; /* Aumenta la dimensione del font */
    font-family: "Times New Roman", serif; /* Cambia il font */
    font-weight: bold; /* Rende il testo più marcato */
    text-transform: capitalize; /* Assicura che solo la prima lettera sia maiuscola */
}

#btnLogin{
  color: white;
  font-size: 18px; /* Aumenta la dimensione del font */
    font-family: "Times New Roman", serif; /* Cambia il font */
    font-weight: bold; /* Rende il testo più marcato */
    text-transform: capitalize; /* Assicura che solo la prima lettera sia maiuscola */
}
app-swiper-carousel {
  display: block;
  width: 100%;
  max-height: 700px; /* Puoi regolare questa altezza */
  margin-bottom: 20px; /* Aggiungi margine sotto il carosello */
  z-index: 1; /* Può aiutare a gestire la visibilità degli altri elementi */
}

/* Opzionale: stili per il contenitore swiper */
.swiper-container {
  height: 100%; /* Imposta un'altezza al 100% o un valore desiderato */
  max-height: 400px; /* Impostazione fissa per evitare che il carosello diventi troppo grande */
  margin-bottom: 30px; /* Aggiungi margine sotto il carosello */
}

/* Stili generali del footer */

  
  /* Stili per le sezioni interne del footer (menu, social, copyright) */
  footer > * { /* Seleziona tutti i figli diretti del footer */
   flex: 1;
   padding: 20px;
   min-width: 200px;
   text-align: center; /* Centra il testo nelle sezioni */
  } 
  
  /* Stili per icone social */
  .social_icon {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   padding: 0;
   margin: 20px 0; /* Aggiunto margine superiore e inferiore */
  }
  
  .social_icon li {
   margin: 0 10px;
  }
  
  .social_icon img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
   transition: transform 0.2s;
   cursor: pointer;
  }
  
  .social_icon img:hover {
   transform: scale(1.2);
  }
  
  .menu {
    display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
     padding: 0;
     margin: 10px 0;
    }
    
    .menu li {
     margin: 0 10px;
    }
    
    .menu li a {
    font-size: 1.2em;
     color: black;
     text-decoration: none;
     opacity: 0.75;
     transition: transform 0.3s ease-in-out, opacity 0.3s, color 0.3s; /* Transizioni combinate */
     cursor: pointer;
    display: inline-block; /* Necessario per transform */
    padding: 5px 10px; /* Padding per area cliccabile */
  }
    
    .menu li a:hover {
     opacity: 1;
    color: black;
    transform: scale(1.2);
    
    }
  
  /* Stili per il copyright */
  footer p {
 text-align: center;
  font-size: 1em;
   margin: 0; /* Rimossi margini superflui */
  }
  
  /* Media query per la responsività */
  @media (max-width: 768px) {
 footer {
  flex-direction: column;
   align-items: center;
   padding: 40px 20px 180px; /* Aumentato il padding bottom per le onde su schermi piccoli */
  }

  footer > * {
    margin-bottom: 20px;
  }
  }