<div class="register-container">
<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div>
      <label for="firstname">Nome:</label>
      <input type="text" id="firstname" formControlName="firstname">
    </div>
  
    <div>
      <label for="lastname">Cognome:</label>
      <input type="text" id="lastname" formControlName="lastname">
    </div>
  
    <div>
      <label for="nickname">Nickname:</label>
      <input type="text" id="nickname" formControlName="nickname">
    </div>
  
    <div>
      <label for="dob">Data di Nascita:</label>
      <input type="date" id="dob" formControlName="dob">
    </div>
  
    <div>
      <label for="sex">Sesso:</label>
      <select id="sex" formControlName="sex">
        <option value="">Seleziona...</option>
        <option value="m">maschile</option>
        <option value="f">femminile</option>
      </select>
    </div>
  
    <div>
      <label for="mail">Email:</label>
      <input type="email" id="mail" formControlName="mail">
    </div>
  
    <div>
      <label for="pass">Password:</label>
      <input type="password" id="pass" formControlName="pass">
    </div>
  
    <div>
      <label for="phone">Telefono:</label>
      <input type="text" id="phone" formControlName="phone">
    </div>
  
    <div>
      <label for="role">Ruolo:</label>
      <select id="role" formControlName="role">
        <option value="">Seleziona...</option>
        <option value="ADMIN">Admin</option>
        <option value="USER">Utente</option>
        <option value="MANAGER">Manager</option>
      </select>
    </div>
  
    <div>
      <button [disabled]="registerForm.invalid">Registrati</button>
    </div>
    <div>
      <button mat-button (click)="closeDialog()">Chiudi</button>
  </div>
  </form>
</div>